HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

\.mvn/wrapper/MavenWrapperDownloader\.java

*.log

storeService.log.2019-12-09.0.gz

storeService.log.2020-01-18.0.gz

storeService.log.2020-01-19.0.gz

storeService.log.2020-01-20.0.gz

storeService.log.2020-01-21.0.gz
